{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}{{ titulo_pagina }}{% endblock %}

{% block content %}
<div class="container mt-4 mb-5">
    <h1 class="display-5 fw-bold text-primary mb-4">{{ titulo_pagina }}: {{ fornecedor.razao_social }}</h1>
    <div class="card shadow-sm">
        <div class="card-body">
            <form method="post" novalidate>
                {% csrf_token %}
                {% for field in form %}
                <div class="mb-3">
                    <label class="form-label">{{ field.label }}</label>
                    {% render_field field class="form-control" %}
                </div>
                {% endfor %}

                <div class="mt-4 text-end">
                    <a href="{% url 'core:detalhar_fornecedor' pk=fornecedor.pk %}" class="btn btn-secondary">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}